.detailCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailCardDiv p,
.detailCardDiv button {
    font-family: "Roboto-Regular", sans-serif;
}

.characterBackgroundDiv {
    margin-top: 120px;
    width: 330px;
    height: 120px;
    overflow: visible;
    background-image: linear-gradient(to top right, #FFE1C6, #FFCB05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.characterBackgroundDiv img {
    height: 180px;
    margin-bottom: 10px;
}

.characterIdNameDiv {
    display: flex;
    gap: 2px;
}

.characterIdNameDiv p,
.typeStyle {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 36px;
    color: #FFCB05;
    -webkit-text-stroke: 2px #2C72B8;
}

.detailCardTypeCardDiv {
    margin-bottom: 10px
}

.detailCardNameP::first-letter {
    text-transform: capitalize;
}

.attacksAndMovementsClickDiv,
.abilitiesClickDiv,
.statsClickDiv {
    display: flex;
    margin-top: 40px;
    gap: 10px;
}

.attacksAndMovementsDiv,
.abilitiesDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.attacksAndMovementsP,
.abilitiesP,
.statsP,
.expandP {
    font-size: 18px;
    font-weight: bold;
    color: #2c72b8;
}

.moveP,
.abilityP,
.statP {
    font-size: 10px;
    color: #2c72b8;
}