.detailCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.detailCardDiv p,
.detailCardDiv button {
    font-family: "Roboto-Regular", sans-serif;
}

.characterBackgroundDiv {
    margin-top: 80px;
    width: 330px;
    height: 120px;
    overflow: visible;
    background-image: linear-gradient(to top right, #FFE1C6, #FFCB05);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.characterBackgroundDiv img {
    height: 180px;
    margin-bottom: 10px;
}

.characterIdNameDiv {
    display: flex;
    gap: 2px;
}

.characterIdNameDiv p {
    font-family: "Roboto-Bold", sans-serif;
    font-weight: 900;
    letter-spacing: -2px;
    font-size: 36px;
    color: #FFCB05;
    -webkit-text-stroke: 2px #2C72B8;
}

.detailCardNameP::first-letter {
    text-transform: capitalize;
}

.attacksAndMovementsClickDiv,
.abilitiesClickDiv,
.statsClickDiv,
.evolveClickDiv {
    display: flex;
    width: 300px;
    justify-content: space-between;
    margin-top: 40px;
    gap: 10px;
}

.attacksAndMovementsDiv {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
}

.statsFlexDiv {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}

.abilitiesDiv,
.evolveDiv {
    width: 300px;
}

.attacksAndMovementsP,
.abilitiesP,
.statsP,
.expandP,
.evolvesP {
    font-size: 18px;
    font-weight: bold;
    color: #2c72b8;
}

.moveP,
.abilityP,
.statP,
.evolveP {
    font-size: 14px;
    color: #2c72b8;
}