* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* @font-face {
    font-family: "Roboto-Regular";
    src: url();
} */

.detailPageDiv {
    background-color: #CCDADD;
    min-height: 100vh;
}

/* =================== Home ======================= */
.home {
    text-align: center;
    padding: 2rem;
    background-color: #CCDADD;
    font-family: Roboto;
    font-size: 14px;
}

.homecards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
}

.homecard {
    margin-top: 3rem;
}

.homeLink {
    text-decoration: none;
    color: black;
}

.homecard article {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.homecardLink {
    text-decoration: none;
    color: black;
}

@media (max-width: 700px) {
    .homecards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
    }

    .homecard img {
        width: 70%;
    }
}



/* =================== Home ======================= */