* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Roboto-Bold";
    src: url("./assets/fonts/Roboto-Bold.ttf");
}

.detailPageDiv {

    min-height: 100vh;
}

body {
    background-color: #CCDADD;
}

/* =================== Home ======================= */
.home {
    text-align: center;
    padding: 2rem;

    font-family: Roboto;
    font-size: 14px;
}

.homecards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    text-align: center;
}

.homecard {
    margin: 1rem;
    overflow: visible;
    background-image: linear-gradient(to top right, #FFE1C6, #FFCB05);
    border-radius: 20px;
}

.homecard:hover {
    background-image: linear-gradient(to top right, #FFE1C6, #ddb203);
}

.pokeID {
    font-weight: bold;
}

.homecard img {
    width: 50%;
}

.homeLink {
    text-decoration: none;
    color: black;
}

.homecard article {
    display: flex;
    justify-content: space-between;
    /* gap: 0.5rem; */
    background-color: #fafafa;
    padding: 0.5rem 1.5rem;
    border-radius: 0 0 10px 10px;

}

/* ========== Type ======================= */
.typeGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 25%;
    margin: 0 auto;
}

.typeStyle {
    text-align: center;
    margin: 1rem 0;
}

.typecard {
    padding: 0.5rem 1rem;
    margin: 0.3rem;
    color: black;
}

.typecard:hover {
    opacity: 0.8;
}

/* ===================================== */



@media (max-width: 700px) {
    .homecards {
        grid-template-columns: repeat(2, 1fr);

    }

    .homecard img {
        width: 60%;
    }

    .homecard {
        margin: 1rem;
    }





    /* ========== Type ======================= */
    .typeGrid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        place-items: center;
        width: 60%;
        margin: 0 auto;
    }

    .typeStyle {
        text-align: center;
        margin: 1rem 0;
    }

    .typeContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    /* ===================================== */


}

.darkmode {
    background-color: #000000;
}

.lightmode {
    background-color: #CCDADD;
}